.expermential-container{
    background-image: url('../../asset/Experential.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120svh;
    
}