.home-top{
    background-image: url('../../asset/Home_page.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    height:120svh;
    /* background-size: 90%;  */
    background-size: cover;
    }